//
//  CommonCrypto.xcconfig
//  CertificateSigningRequestSwift
//
//  Created by Corey Baker on 6/27/15.
//  Copyright © 2017 Network Reconnaissance Lab. All rights reserved.
//


MODULEMAP_FILE[sdk=iphoneos*]        = $(SRCROOT)/CommonCrypto/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(SRCROOT)/CommonCrypto/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=macosx*]          = $(SRCROOT)/CommonCrypto/macosx.modulemap
