//
//  CommonCrypto.xcconfig
//  AlleyOop
//
//  Created by Corey Baker on 6/27/15.
//  Copyright © 2017 One Degree Technologies. All rights reserved.
//


MODULEMAP_FILE[sdk=iphoneos*]        = $(SRCROOT)/CommonCrypto/Platforms/iPhoneOS.sdk/CommonCrypto/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(SRCROOT)/CommonCrypto/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=macosx*]          = $(SRCROOT)/CommonCrypto/macosx.modulemap
