//
//  CommonCrypto.xcconfig
//  AlleyOop
//
//  Created by Corey Baker on 6/27/15.
//  Copyright © 2017 One Degree Technologies. All rights reserved.
//


MODULEMAP_PRIVATE_FILE[sdk=iphoneos*]        = $(SRCROOT)/CommonCrypto/iphoneos.private.modulemap
MODULEMAP_PRIVATE_FILE[sdk=iphonesimulator*] = $(SRCROOT)/CommonCrypto/iphonesimulator.private.modulemap
MODULEMAP_PRIVATE_FILE[sdk=macosx*]          = $(SRCROOT)/CommonCrypto/macosx.private.modulemap
