name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  swift-test-ios:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -workspace Example/CertificateSigningRequest.xcworkspace -scheme CertificateSigningRequest-Example -destination platform\=iOS\ Simulator,OS\=13.6,name\=iPhone\ 11\ Pro\ Max build test | xcpretty
    - name: Codecov
      run: bash <(curl https://codecov.io/bash)
  
  swift-test-spm:
    
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build and Test
      run: swift test --enable-code-coverage -v
    - name: Prepare codecov
      run: xcrun llvm-cov export -format="lcov" .build/debug/CertificateSigningRequestTests.xctest/Contents/MacOS/CertificateSigningRequestTests -instr-profile .build/debug/codecov/default.profdata > info.lcov

  cocoapods:
    needs: [swift-test-ios]
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: CocoaPods
        run: set -o pipefail && env NSUnbufferedIO=YES pod lib lint --allow-warnings --verbose 
      - name: Deploy CocoaPods
        if: github.ref == 'refs/heads/master'
        run: set -o pipefail && env NSUnbufferedIO=YES pod trunk push CertificateSigningRequest.podspec --allow-warnings --verbose
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}

  carthage:

   needs: swift-test-ios
   runs-on: macos-latest

   steps:
     - uses: actions/checkout@v2
     - name: Carthage 
       run: carthage build --no-skip-current --verbose
